<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>MovieNight Database 2</h1>
    <movie-card poster="https://m.media-amazon.com/images/M/MV5BNzk1OGU2NmMtNTdhZC00NjdlLWE5YTMtZTQ0MGExZTQzOGQyXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg"></movie-card>
    <movie-card title='Movie Title' year="1988" overview="This is one interesting movie about nothing at all" runtime="108" poster="https://m.media-amazon.com/images/M/MV5BODI4ZTI1ZjMtYmE5MC00NTM5LTgwMDgtNWI1ZTI1MDYyOGYyXkEyXkFqcGdeQXVyNjExODE1MDc@._V1_.jpg"></movie-card>
    <movie-card poster="https://m.media-amazon.com/images/M/MV5BNWE1OGExYzQtYzRjOS00MmJhLWE3OTYtZjkzOTNlMjJlZTQ4L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyODY0NzcxNw@@._V1_.jpg"></movie-card>
    <movie-card id='2' poster="https://m.media-amazon.com/images/M/MV5BZWFlYmY2MGEtZjVkYS00YzU4LTg0YjQtYzY1ZGE3NTA5NGQxXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg"></movie-card>
    <div id='output'></div>
    
    

    <script>
        function getMovies(){
            fetch('http://127.0.0.1:5000/api/v1/resources/movies?title=Horror')
            .then((res)=> res.json())
            .then((data)=> {
                let output = '';
                data.forEach(function(movie){
                    output += `
                    <div>
                        <h3>${movie.title}</h3>
                        <p>${movie.overview}</p>
                        <h4>${movie.year}</h4>
                        <p>${movie.runtime}</p>
                    </div>
                    `;
                });
                document.getElementById('output').innerHTML = output
            })
        }
    
    </script>
</body>
<script src="{{ url_for('static', filename='components/moviecard.js') }}"></script>
<script src="{{ url_for('static', filename='components/flipcard.js') }}"></script>
</html>
