<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MovieNight Database</h1>
    <movie-card></movie-card>
    <div id='output'></div>
    

    <script>
        function getMovies(){
            fetch('http://127.0.0.1:5000/api/v1/resources/movies?title=Horror')
            .then((res)=> res.json())
            .then((data)=> {
                let output = '';
                data.forEach(function(movie){
                    output += `
                    <div>
                        <h3>${movie.title}</h3>
                        <p>${movie.overview}</p>
                        <h4>${movie.year}</h4>
                        <p>${movie.runtime}</p>
                    </div>
                    `;
                });
                document.getElementById('output').innerHTML = output
            })
        }
    
    </script>
</body>
<script src="{{ url_for('static', filename='components/moviecard.js') }}"></script>
</html>